@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="container">

    <div class="results">
        <h1>Movies</h1>
        @foreach (Movie m in Model.Movies)
        {
            <div class="movie-entry"    data-title="@m.Title" 
                                        data-mpaa="@m.MPAA_Rating" 
                                        data-imdb="@m.IMDB_Rating">
                @if (m.Release_Year != null)
                {
                    <h2>@m.Title ( @m.Release_Year )</h2>
                }
                else
                {
                    <h2>@m.Title </h2>
                }
                @if (m.MPAA_Rating != null)
                {
                    <div class="MPAA_Rating">Rated: @m.MPAA_Rating</div>
                }
                @if (m.Major_Genre != null)
                {
                    <div class="major-genre">Genre: @m.Major_Genre</div>
                }
                @if (m.Director != null)
                {
                    <div class="director">Directed by: @m.Director</div>
                }
                <div class="ratings">
                    @if (m.IMDB_Rating != null)
                    {
                        <div class="IMDB_Rating">IMBD: <h3>@m.IMDB_Rating</h3></div>
                    }
                    @if (m.Rotten_Tomatoes_Rating != null)
                    {
                        <div class="Rotten_Tomatoes_Rating">Rotten Tomatoes: <h3>@m.Rotten_Tomatoes_Rating</h3></div>
                    }
                </div>
            </div>
        }
    </div>
    <div class="entry">
    <form method="post" id="search-and-filter-form">
        <input type="text" id="search" name="search" value="@Model.Search" />
        <label>
            <input type="checkbox" value="G" class="mpaa" name="mpaa" checked="@Model.mpaa.Contains("G")" />
            Rated G
        </label>
        <label>
            <input type="checkbox" value="PG" class="mpaa" name="mpaa" checked="@Model.mpaa.Contains("PG")" />
            Rated PG
        </label>
        <label>
            <input type="checkbox" value="PG-13" class="mpaa" name="mpaa" checked="@Model.mpaa.Contains("PG-13")" />
            Rated PG-13
        </label>
        <label>
            <input type="checkbox" value="R" class="mpaa" name="mpaa" checked="@Model.mpaa.Contains("R")" />
            Rated R
        </label>
        <label>
            <input type="checkbox" value="NC-17" class="mpaa" name="mpaa" checked="@Model.mpaa.Contains("NC-17")" />
            Rated NC-17
        </label>

        <label>
            Minimum IMDB Rating
            <input tpye="number" ,min="0" ,max="10" ,step=".1" name="IMDB" id="imdb-min-rating" value="@Model.IMBD" />
        </label>

        <input type="submit" value="search" />
    </form>
        </div>
</div>
